# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#apiserver local configuration
apiserver.local.config

#build output
azure-k8-metrics-adapter
debug
_output/