azureAuthentication:
  # method: {msi,clientSecret,clientCertificate}
  method: clientSecret
  createSecret: true
  tenantID: ""
  clientID: ""
  clientSecret: ""

defaultSubscriptionId: ""

appInsights:
  appId: ""
  key: ""

# Add this to use a version of the image other than the latest official release
image:
  repository: ""
  tag: ""