azureAuthentication:
  # method: {msi,clientSecret,clientCertificate}
  method: clientSecret
  createSecret: true
  tenantID: ""
  clientID: ""
  clientSecret: ""

defaultSubscriptionId: ""

appInsights:
  appId: ""
  key: ""

# Use this to pull a version of the image other than the latest official release
image:
  repository: ""
  tag: ""

# Use this to pull from a private container registry
imageCredentials:
  createSecret: true
  # Specify registry if not DockerHub
  registry: "" 
  username: ""
  password: ""